# This is Git's per-user configuration file.
[user]
	name = Svätopluk Hanzel
	email = svatoplukhanzel@pm.me
[init]
	defaultBranch = master
[pull]
	rebase = true
[push]
    autoSetupRemote = true

[url "git@github.com:"]
	insteadOf = https://github.com/

# Braiins
[url "git@gitlab.ii.zone:"]
	insteadOf = https://gitlab.ii.zone/
[includeIf "gitdir:~/src/braiins/"]
    path = /home/sveatlo/src/braiins/.gitconfig
